body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start; /* Begin links */
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: green;
    color: white;
}

#pizzabodem {
    display: flex;
    flex-direction: column; /* Zorg ervoor dat elementen boven elkaar staan */
    align-items: flex-start; /* Begin links */
    width: 50%; /* Pas de breedte aan indien nodig */
}

#pizza-area {
    position: relative;
    width: 100%; /* Vul de beschikbare ruimte */
    text-align: left; /* Links uitlijnen */
}

#pizza-base {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#ingredients {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#ingredients img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#ingredienten-kiezen {
    width: 50%;
    padding: 20px;
}

.categorien {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

#blue-panel {
    width: 50%; /* Maak de box kleiner */
    height: 80vh; /* Verklein de hoogte indien gewenst */
    background-color: red;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    right: 40px; /* Creëer ruimte aan de rechterkant */
    top: 40px; /* Voeg wat ruimte aan de bovenkant toe */
}

button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    text-align: center; 
    cursor: pointer;
    font-size: 16px; 
    border-radius: 5px; 
}
